	<div class="section footer bg-gray800">
		<div class="row justify-content-center">
			<div class="col-md-6 d-flex justify-content-center">
				<a class="fa fa-linkedin" href="https://www.linkedin.com/in/baron-wang/"></a>
				<a class="fa fa-github" href="https://github.com/Baron1014"></a>
				<a class="fa fa-facebook " href="https://www.facebook.com/baron1014"></a>
				<a class="fa fa-google" href="mailto:baron1996.tw@gmail.com"></a>
				<a class="fa fa-instagram" href="https://www.instagram.com/baron__1014/"></a>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-md-6 d-flex justify-content-center light-word">
				<p>Copyright©  {{ format_now }} Shih-Hao Wang. All Rights Reserved.</p>
			</div>
		</div>
	</div>