	<div class="section footer bg-gray800">
		<div class="row justify-content-center">
			<div class="col-md-6 d-flex justify-content-center">
				<a class="fa fa-linkedin" href="#"></a>
				<a class="fa fa-facebook " href="#"></a>
				<a class="fa fa-google" href="#"></a>
				<a class="fa fa-instagram" href="#"></a>
				<a class="fa fa-github" href="#"></a>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-md-6 d-flex justify-content-center light-word">
				<p>Copyright©  {{ format_now }} Shih-Hao Wang. All Rights Reserved.</p>
			</div>
		</div>
	</div>