<!DOCTYPE html> 
{% extends "base.html" %}
        
{% block title %} Shih-Hao Wang {% endblock %}
{% block welcome %} Welcome to Baron's website {% endblock %}
{% block navbar %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto ">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
                About
                </a>
                <ul class="dropdown-menu ">
                    <li><a class="dropdown-item" href="#section_about">About Me</a></li>
                    <li><a class="dropdown-item" href="#section_education">Education</a></li>
                    <li><a class="dropdown-item" href="#section_work">Work Experiences</a></li>
                    <li><a class="dropdown-item" href="#section_honor">Personal Honors</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#paper" tabindex="-1">Publications</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#section_competition">Competition</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#section_club">Club</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#section_contact">Contact</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="section" id="section_about">
            <div class="row">
                <div class="col-md-12">
                    <h2>
                        <span class='title'>About Me</span>
                    </h2>
                    <hr>
                    <div class="content" id="about">
                        <ul style="list-style-type:none">
                            {% for about in abouts %}
                            <li><sapn class="opacity07 display-list-item">{{ about.text }}</sapn></li>
                            {% endfor %}
                        </ur>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="section" id="section_education">
            <div class="row">
                <div class="col-md-12">
                    <h2>
                        <span class='title'>Education</span>
                    </h2>
                    <hr>
                    <div class="content" id="education">
                        <ul>
                            {% for e in educations%}
                            {% if e.graduate_year %}
                            <li> <span class='heightlight'>{{ e.start_year }}/{{ e.start_month }} ~ {{ e.graduate_year }}/{{ e.graduate_month }}</span>
                                 <span class="opacity07">{{ e.degree }},<br>{{ e.department }}, {{ e.school }}</span></li>
                            {% else %}
                            <li> <span class='heightlight'>{{ e.start_year }}/{{ e.start_month }} ~ Present</span> 
                                <span class="opacity07">{{ e.degree }},<br>{{ e.department }}, {{ e.school }}</span></li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="section" id="section_work">
            <div class="row">
                <div class="col-md-12">
                    <h2>
                        <span class='title'>Work Experiences</span>
                    </h2>
                    <hr>
                    <div class="content" id="work">
                        <ul>
                            {% for work in works reversed%}
                            {% if work.end_year %}
                            <li><span class="heightlight">{{ work.start_year }}/{{ work.start_month }} ~ {{ work.end_year }}/{{ work.end_month }}</span> <span class="opacity07 ">{{ work.title }},<br>{{ work.department }}, {{ work.company }}</span></li>
                            {% else %}
                            <li><span class="heightlight">{{ work.start_year }}/{{ work.start_month }} ~ Present</span> <span class="opacity07">{{ work.title }},<br>{{ work.department }}, {{ work.company }}</span></li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="section" id="paper">
            <div class="row">
                <div class="col-md-12">
                    <h2>
                        <span class='title'>Publications</span>
                    </h2>
                    <hr>
                    <div class="content" id="publication">
                        <ul>
                            {% for paper in publications%}
                            <li><span class="opacity07 display-list-item">{{ paper.members }}, "{{ paper.title }}," in Proc. {{paper.place}}, 
                                {{paper.accept_month}} {{paper.accept_day.year}}, {{paper.city}}, {{paper.country}}. 
                                [<a href="{{ paper.paper_link}}">Paper</a>]
                                </span></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="section" id="section_honor">
            <div class="row">
                <div class="col-md-12">
                    <h2>
                        <span class='title'>Personal Honors</span>
                    </h2>
                    <hr>
                    <div class="content" id="honor">
                        <ul>
                            {% for honor in honors%}
                            <li><span class="opacity07 display-list-item">{{ honor.award_name }}, {{ honor.accept_year }}</span></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="section" id="section_competition">
            <div class="row">
                <div class="col-md-12">
                    <h2>
                        <span class='title'>Competition</span>
                    </h2>
                    <hr>
                    <div class="content" id="competition">
                        <ul>
                            {% for competition in competitions%}
                            <li><span class="opacity07 display-list-item">{{ competition.award }}, {{ competition.case_name }}, {{competition.company_name}}, 
                                {{competition.accept_day.year}}/{{competition.accept_day.month}}/{{competition.accept_day.day}}<br>
                                {{ competition.member }}
                                </span></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="section" id="section_club">
            <h2>
                <span class='title'>Club</span>
            </h2>
            <hr>
            <div class="content" id="club">
                <div class="row justify-content-center">
                    <div class='col-md-3 text-center'>
                        <a href="http://www.airobotslab.com.tw/index.html" target="_blank" style="color:inherit;"><img src="static/images/airobot.png"></a>
                        <h5><span class="opacity07">aiRobots Laboratory<br><small>Electrical Engineering of National Cheng Kung University</small></span></h5>
                    </div>
                    <div class='col-md-3 text-center'>
                        <a href="https://bigdata.scu.edu.tw/for-students/" target="_blank" style="color:inherit;"><img src="static/images/bigdata.jpeg"></a>
                        <h5><span class="opacity07">Student Association<br><small>Big Data Management of Soochow University</small></span></h5>
                    </div>
                    <div class='col-md-3 text-center'>
                        <a href="https://www.facebook.com/scumoas/" target="_blank" style="color:inherit;"><img src="static/images/moas.jpg"></a>
                        <h5><span class="opacity07">Master of Association Seminar<br><small>Soochow University</small></span></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="section">
            <h2>
                <span class='title'>Projects</span>
            </h2>
        <hr>
            <div class="content" id="project">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    {% for project in projects%}
                        <div class="col">
                            <div class="card h-100 bg-light">
                                <div class="card-img-container">
                                    <img src={{project.image.url}} class="card-img-top" alt="Card image cap">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">{{ project.title }}</h5>
                                    <p class="card-text">{{ project.abstract}}</p>
                                </div>
                                <div class="card-footer">
                                    {% if project.end_year %}
                                    <small class="text-muted">{{project.start_year}}/{{project.start_month}} ~ {{project.end_year}}/{{project.end_month}}</small>
                                    {% else %}
                                    <small class="text-muted">{{project.start_year}}/{{project.start_month}} ~ Present</small>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    
                </div>
            </div>
    </div>
    </div>

    <div class="container">
        <div class="section" id="section_contact">
            <div class="row">
                <div class="col-md-12 ">
                    <h2>
                        <span class='title'>Contact</span>
                    </h2>
                    <hr>
                    <div class="content" id="contact">
                        <ul>
                            <li><span class="opacity07 display-list-item">Phone: 886-978-529836</span></li>
                            <li><span class="opacity07 display-list-item">E-mail: baron1996.tw@gmail.com</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
