<!DOCTYPE html> 
{% extends "base.html" %}
        
{% block title %} Shih-Hao Wang {% endblock %}
{% block welcome %} Welcome to Baron's website {% endblock %}
{% block navbar %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto ">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
                About
                </a>
                <ul class="dropdown-menu ">
                    <li><a class="dropdown-item" href="#">Persenal</a></li>
                    <li><a class="dropdown-item" href="#">Education</a></li>
                    <li><a class="dropdown-item" href="#">Work Experiences</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Paper</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Competition</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="section" id="section_about">
            <div class="row">
                <div class="col-md-12">
                    <h2>
                        <span class='title'>About Me</span>
                    </h2>
                    <hr>
                    <div class="content" id="about">
                        <ul style="list-style-type:none">
                            {% for about in abouts %}
                            <li><sapn class="opacity07">{{ about.text }}</sapn></li>
                            {% endfor %}
                        </ur>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="section" id="section_education">
            <div class="row">
                <div class="col-md-12">
                    <h2>
                        <span class='title'>Education</span>
                    </h2>
                    <hr>
                    <div class="content" id="education">
                        <ul>
                            {% for e in educations%}
                            {% if e.graduate_year %}
                            <li> <span class='heightlight'>{{ e.start_year }}/{{ e.start_month }} - {{ e.graduate_year }}/{{ e.graduate_month }}</span>
                                 <span class="opacity07">{{ e.degree }},<br>{{ e.department }}, {{ e.school }}</span></li>
                            {% else %}
                            <li> <span class='heightlight'>{{ e.start_year }}/{{ e.start_month }} - Present</span> 
                                <span class="opacity07">{{ e.degree }},<br>{{ e.department }}, {{ e.school }}</span></li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="section" id="section_work">
            <div class="row">
                <div class="col-md-12">
                    <h2>
                        <span class='title'>Work Experiences</span>
                    </h2>
                    <hr>
                    <div class="content" id="work">
                        <ul>
                            {% for work in works reversed%}
                            {% if work.end_year %}
                            <li><span class="heightlight">{{ work.start_year }}/{{ work.start_month }} - {{ work.end_year }}/{{ work.end_month }}</span> <span class="opacity07">{{ work.title }},<br>{{ work.department }}, {{ work.company }}</span></li>
                            {% else %}
                            <li><span class="heightlight">{{ work.start_year }}/{{ work.start_month }} - Present</span> <span class="opacity07">{{ work.title }},<br>{{ work.department }}, {{ work.company }}</span></li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block songname %} {{song.name}} {% endblock %}
{% block menu %}
                <ul class='nav navbar-nav'>
                    <li class='active'><a href='/'>Home</a></li>
                    <li><a href="{% url 'tv-url' 0 %}"> 告白氣球</a></li>
                    <li><a href="{% url 'tv-url' 1 %}"> 半島鐵盒</a></li>
                    <li><a href="{% url 'tv-url' 2 %}"> 說好不哭</a></li>
                    <li><a href="{% url 'tv-url' 3 %}"> 牛仔很忙</a></li>
                </ul>
{% endblock %}

{% block contenta %}
        <div class='conatainer'>
            <div id="songcode" align="center">
                {% if hour > 18 %}
                    Afternoon
                {% else %}
                    GoodMorning
                {% endif %}
                <br>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/{{song.songcode}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
{% endblock %}