.bg-gray800{
    background-color: #343a40 !important;
}

#photo img{
    width:150px;
    box-shadow: 0 5px 10px;
    border-radius: 50%;
}

.page-header small{
    color: #777;
    font-size: 60%;
}

ul li{
    padding-bottom: 0.5em;
}
ul li .opacity07:hover{
    opacity: 1;
}

body {
    font-family: 'Work Sans', sans-serif;
    font-size: 110%;
}

#navbarSupportedContent ul li{
    padding-bottom:0.25em;
    padding-top: 0.25em;
    opacity: 1;
}

.section hr {
    width: 100%;
    margin: 0 !important;
  }
 
.section {
    margin: 0 0 2em 0;
}
.section.footer {
    margin-bottom: 0;
    padding-top:20px;
    padding-bottom: 30px;

}

.section:hover hr {
	background-color: #3CB371;
    border-bottom: 3px solid #3CB371;
    opacity: 1;
}

.navbar {
    margin: 1em 0 2em 0;
}

.header{
    padding-top: 0.5em;
}

h2:hover{
    font-weight: bold;
}

.heightlight{
    font-size: 110%;
    font-weight: bold;
}

.opacity07{
    opacity: 0.7;
}

:root {
    scroll-padding-top: 5rem;
  }

.fa {
    padding: 15px;
    text-align: center;
    text-decoration: none;
    background-color: #343a40;
    border-radius: 50%;
    border: 2px solid white;
    align-items: center;
    color:white;
    margin:2px 5px 2px 5px;
}
.fa-facebook{
    padding: 15px 18px 15px 18px;
}
.fa:hover{
    background-color: white;
    color: #343a40;
}

.light-word{
    color:white;
}

.row p{
    margin-top: 20px;
}